@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --btn: linear-gradient( to right, #0567FF, #00d9ff, #8f1ec0);
    --main-color: #5be7ff;
    --black: #13131a;
    --bg: #13131a;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

/* aqui estamos a mecher no doc sobre nos */
.about{
    padding-top: 10rem;
}

.heading{
    
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
   
    color: var(--main-color);
    text-transform: uppercase;  
}
/* sobre nos acaba aqui */



.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--btn);
    cursor: pointer;
    border-radius: 8px;
    
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}


.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}


#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-conteiner {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(110vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-conteiner.active {
    right: 0;
}

.header .cart-items-conteiner .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-conteiner .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-conteiner .cart-item .fa-times {
    color: var(--main-color);
}

.header .cart-items-conteiner .cart-item img {
    height: 7rem;
}

.header .cart-items-conteiner .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-conteiner .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-conteiner .btn {
    width: 100%;
    text-align: center;
}


/* media queries */
@media(max-width: 991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media(max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }


    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(110vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    
}


.home .content h3{
    font-size: 4.5rem;
}

.home .content p{
    font-size: 1.5rem;
}

@media(max-width: 450px) {

    html {
        font-size: 50%;
    }

}

/* back da main */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('/ILUSTRACOES/coffee-3759024_1920.jpg');
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
}

/* texto que aparece na main page */
.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}


.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

/* uma parte do sobre nos esta aqui */
.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 30%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
/* ate aqui */


/* aqui comeca a estilizacao da aba login */

/* .cont body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 110vh; <= e com isso que a cena vem para o centro
} */
.cont{
    /* margin-top: 40vh; */
   
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.cont p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.cont span{
    font-size: 12px;
}

.cont a{
    color: var(--main-colorolor);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.cont button{
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.cont button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.cont form{
    background-color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;    
    padding: 0 40px;
    height: 100%;
}

.cont input{
     background-color: #eee; /*cor de fund */
     border: none;
     margin: 8px 0;
     padding: 10px 15px;
     font-size: 13px;
     border-radius: 8px;
     width: 100%;
     outline: none;
}

.form-cont{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.cont.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left:0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.cont.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #5be7ff ;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-cont{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px;
    z-index: 1000;
}

.cont.active .toggle-cont{
    transform: translateX(-100%);
}

.toggle{
    background-color: var(--main-color);
    height: 100%;

}

/* aqui termina a estilizacao da aba login */