@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
    --btn: linear-gradient( to right, #0567FF, #00d9ff, #8f1ec0);
    --main-color: #5be7ff;
    --black: #13131a;
    --bg: #13131a;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

/* aqui estamos a mecher no doc sobre nos */
.about{
    padding-top: 10rem;
}

.heading{
    
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
   
    color: var(--main-color);
    text-transform: uppercase;  
}
/* sobre nos acaba aqui */


.home{
    height: 110vh;
    display: flex;
    align-items: center;
    background:url(../img/mouse.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}




.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--btn);
    cursor: pointer;
    border-radius: 8px;
    
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
    
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.admin {
    width: 2%;
    margin: 0;
    left: 10px;
    padding: 12px;
    display: flex;
    flex-direction: row;
}



.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}


#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-conteiner {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(110vh - 9.5rem);
    width: 35rem;
    background:#303036;
    padding: 0 1.5rem;
}

.header .cart-items-conteiner.active {
    right: 0;
}

.header .cart-items-conteiner .cart-item {
    position: relative;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-conteiner .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-conteiner .cart-item .fa-times {
    color: var(--main-color);
}

.header .cart-items-conteiner .cart-item img {
    height: 7rem;
}

.header .cart-items-conteiner .cart-item .content h3 {
    font-size: 2rem;
    color: #fff;
    padding-bottom: .5rem;
}

.header .cart-items-conteiner .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-conteiner .btn {
    width: 100%;
    text-align: center;
}
/* -----------tudo o que tem haver com cabecalho termina aqui--------------------------------- */

/*---------------------------- media queries--------------------------------------------------- */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
/*----------------------------- midia acaba aqui---------------------------------------------- */
/* back da main */



.home .content {
    max-width: 60rem;
}

/* --------------------------texto que aparece na main page ----------------------------------*/
.home .content h3 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
}



.home .content p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

.content{
    padding-top: 12rem;
}

.row .image{
    box-sizing: border-box;
}
/*--------------------------- uma parte do sobre nos esta aqui--------------------------------- */
.about .row{
    display: flex;
    align-items: center;
    background:#20202a;
    flex-wrap: wrap;
}

.row .altura{
    height: 40vh;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%; 
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
    
}



.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}


/* -------------------------------ate aqui------------------------------------------------- */


/*------------------------- aba de contacto comeca aqui -----------------------------------*/

.contact .row{
    display: flex;
    background:#20202a;
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
    padding: 20px 40px;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}
/*---------------------- aba de contacto acaba aqui----------------------------------------- */

/* -------------------------------footer comeca----------------------------------------- */
.footer{
    background:#20202a;
    text-align: center;
}

.footer .share{
    padding:1rem 0;
    
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    font-size: 2rem;
    
}

.footer .links a:hover{
    
        color: var(--main-color);
        border-bottom: .1rem solid var(--main-color);
        
    
}

.footer .credit{
    font-size: 1.3rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}



/* ---------------------------------footer acaba-------------------------------------- */



/* ---------------------------------organizacao do servico nos inicio-------------------------------------- */


.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

/* ---------------------organizacao do servico nos final-------------------------------------- */

/* Estilos padrão para o modo dia */

.perfil {
    width: 50%;
    color: #fff;
    overflow: hidden; /* Adicionado para evitar que o conteúdo ultrapasse o contêiner */
    position: relative; /* Adicionado para posicionar os elementos internos relativamente */
}

.perfil img {
    width: 30px;
    border-radius: 50%; /* Alterado para 50% para criar um círculo */
    float: left;
    margin-right: 10px; /* Adicionado para criar espaço entre a imagem e o texto */
}

.perfil .logout {
    font-size: .9em;
    font-family: 'Oswald', sans-serif;
    position: absolute; /*Alterado para posicionar absolutamente em relação ao contêiner pai*/
    top: 50%; /* Coloca o texto no centro vertical */
    transform: translate(0, -50%); /* Move o texto para o centro vertical usando transform */
    
    right: 18px;
    opacity: 0;
    transition: opacity .45s;
}

.perfil .username {
    font-size: .9em;
    font-family: 'Oswald', sans-serif;
    position: absolute; /* Alterado para posicionar absolutamente em relação ao contêiner pai */
    top: 50%; /* Coloca o texto no centro vertical */
    transform: translate(0, -50%); /* Move o texto para o centro vertical usando transform */
    right: 50px; /* Ajuste conforme necessário */
    opacity: 1;
    transition: opacity .45s;
}

.perfil_button {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 0;
    color: white;
    border-radius: 0;
    width: 50px;
    transition: width .35s;
}

.perfil a:hover {
    width: 100px;
}

.perfil a:hover .logout {
    opacity: .9;
}

.perfil a:hover .username {
    opacity: 0;
}

a {
    text-decoration: none;
    color: #fff;
}
