body {
    font-family: Arial, sans-serif;
}

.table-container {
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    overflow-x: auto;
}

.title {
    font-size: medium;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    color: #fff;
    font-weight: bold;
    background-color: #075a5ac2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.actions {
    gap: 1rem;
    padding: 5px 10px;
    margin-right: 5px;
}

.update-button, .delete-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.update-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #CC0000;
}

/* ... Your existing CSS ... */

.actions {
    gap: 1rem;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: rgb(40, 159, 167); /* New color for the "Ações" column */
    color: #fff;
    border-radius: 5px;
}

.actions:hover {
    background-color: #7e807e; /* Darker color on hover */
}

.update-button, .delete-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.update-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #CC0000;
}
